{% extends "base_generic.html" %}

{% block content %}
  <ul>
    <li><strong>Books:</strong> {{ num_books }}</li>
    <li><strong>Copies:</strong> {{ num_instances }}</li>
    <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
    <li><strong>Authors:</strong> {{ num_authors }}</li>
    <li><strong>V:</strong> {{ num_visits }}</li>
  </ul>
  {{ other_context.p1 }}{{ other_context.p2 }}
{% endblock %}

{% block sidebar %}
<ul class="sidebar-nav">
  <li><a href="{% url 'index' %}">Home</a></li>
  <li><a href="">All books</a></li>
  <li><a href="">All books 2</a></li>
  <li><a href="">All books 3</a></li>
  <li><a href="">All books 4</a></li>
  <li><a href="">All authors</a></li>
</ul>
{% endblock %}